/********************************************	

	Kirjautumissivu

*********************************************/

#login_container	{
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#error	{
	color: red;
}
