@CHARSET "ISO-8859-1";

/*Varmuuden varalle...*/
html, body {
	height: 100%;
}

/***************************************

	Menu palkin tyylittely�

***************************************/

#navigationbar {
	background: #1d7ae2;
	width: auto;
	height: auto;
}

#navigationbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1;
	text-align: left;
	border-top: 1px solid #214f87;

}

#navigationbar .last {
	float: right;
}


/*	T�ytyy olla, jotta KIRJAUDU ULOS -painike pysyy
	navigationbaarissa kun ikkunaa muutetaan pieneksi*/
#navigationbar ul:after {
	content: " ";
  	display: block;
  	clear: both;
}


#navigationbar ul li {
  	display: inline-block;
  	padding: 0;
  	margin: 0;

}


#navigationbar ul li a {
	color: #ffffff;
 	text-decoration: none;
 	display: block;
	padding: 15px 25px;
	font-family: 'Open Sans', sans-serif;
  	font-weight: 700;
  	text-transform: uppercase;
  	font-size: 16px;
  	position: relative;

}


#navigationbar ul li a:HOVER {
	color: black;
}




/********************************************

	Headerin tyylittely

*********************************************/

#header {
	position: static;
	width: 100%;
	height: 120px;
	background-color: #1d7ae2;
	text-align: center;

}


#header img {

	position: absolute;
	top: 18px;
	left: 2%;

}


/*
#header h1 {
	display: inline-block;
	position: relative;
	width: 45%;
	left: 5%;


}
*/



#header .kirjautuneena {
	display: inline-block;
	position: relative;
	text-align: center;
	font-size: 18px;
	color: black;
	top: 38px;

}

#header .username {
	display: inline-block;
	position: relative;
	font-size: 18px;
	top: 38px;

}


/********************************************

	Otsikon tyylittely

********************************************/

.otsikko {
	display: inline-block;
	position: relative;
	width: 25%;
	left: 5%;
}


/********************************************

	Painikkeiden ulkoasu

********************************************/

#asiakas .lisaa_asiakas_painike, #asiakas_lista #submit input[type=submit],
#lomake #submit input[type=submit] {
    padding: 8px 15px;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}


/********************************************

	Yll�pit�j�n asiakas sivun tyylittely

*********************************************/

#asiakas {
	width: 100%;
}


#asiakas #painikkeet {
	width: 74%;
	text-align: right;
	display: inline-block;
}

#asiakas #painikkeet a {
	position: relative;
	right: 7%;
	text-decoration: none;
}



#asiakas .lisaa_asiakas_painike {
    background: #4479BA;
    border-color: #20538D;
}



#asiakas .lisaa_asiakas_painike:HOVER {
    background: #356094;
    border: solid 1px #2A4E77;
    cursor: pointer;
}




#asiakas_lista {
	text-align: center;
	display: block;
}

#asiakas_lista form {
	text-align: left;
	display: inline-block;
	width: 90%;
}

#asiakas_lista fieldset{
	margin-top: -2px;
}

#asiakas_lista .asiakas_info {
	border: 0;
}

.etunimi, .sukunimi, .puhelin {
	display: inline-block;
	width: 15%;
}

.sposti, .yritys {
	display: inline-block;
	width: 23%;
}

#asiakas_lista a {
	text-decoration: none;
	color: black;
}

#asiakas_lista input[type=checkbox] {
	position: relative;
	left: 18px;
}

#asiakas_lista #submit {
	text-align: right;
}

#asiakas_lista #submit input[type=submit] {
	background: #e60005;
	border-color: #b70004;
}

#asiakas_lista #submit input[type=submit]:HOVER {
	cursor: pointer;
	background: #b70004;
	border: solid 1px #750003;
}


/********************************************

	Kaikkien lomakkeitten (form) tyylittely

*********************************************/





/* keskitet��n form */
#lomake {
	display: block;
	text-align: center;

}


#lomake form {
	display: inline-block;
	text-align: left;
}

#lomake fieldset {
	width: 450px;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #000000;
    padding: 20px;
}

#lomake fieldset legend {
	text-align: left;
    font-size: 20px;
}


#lomake label {
	width: 200px;
}

#lomake label > span{
	float: left;
	width: 220px;
	font-weight: bold;
}
#lomake label span .required {
	color: red;
}

#lomake input {}



/* Asetellaan "submit"-painike */
#lomake #submit {
	display: block;
	text-align: center;
}


#lomake #submit input[type=submit] {
    background: #4479BA;
    border-color: #20538D;
}


#lomake #submit input[type=submit]:HOVER {
    background: #356094;
    border: solid 1px #2A4E77;
    cursor: pointer;
}

.haku {
	position: relative;
	left: 5%;
}

.haku input {
	padding: 5pt;
	font-size: 140%;
	border: 1px solid #1d7ae2;
}

.tulokset {
	position: relative;
	left: 5%;
}

.tulokset table {
	background-color: #1d7ae2;
}

.tulokset table th, .tulokset table td {
	padding: 5pt;
	background-color: #fff;
}

.tulokset table th {
	font-size: 120%;
	font-weight: normal;
	background-color: #1d7ae2;
	color: #fff;
}
