@CHARSET "UTF-8";
/********************************************
	General application.
*********************************************/
html{ position:relative; min-height: 100%; width:100%; } /*Varmuuden varalle...*/
html,body{ background-color: Floralwhite; }
body{ font-family: Helvetica, 'Open Sans', sans-serif; margin: 3px; }

input { padding: 3pt; } /* Näyttää siistimmältä */
a, a:hover, a:focus { text-decoration: none; } /* Poistaa alleviivauksen linkeistä. Näyttää siistimmältä. */
main { display: block; } /* F*** IE */

/********************************************
	Yleisesti pikku asioita koko sivulla
*********************************************/
.number { /* Tarkoitettu numeroiden tulostamiseen esim. <input>-tagissa */
	text-align: right; /* Default inputissa align on vasemmalla, mikä ei sovi numeroille */
	white-space: nowrap; /* Se on numero, joten emme halua sen koskaan katkeavan */
}

.small_note { /* Pienten huomautusten tulostamiseen. Enimmäkseen ALV-huomautus. */
	font-size: 90%;
	font-style: oblique;
}

.main_body_container {  /* Self-explanatory */
	margin: 20px 5vw 3vw; /* <top> <right and left> <bottom> -- Ylhäältä enenmmän jotta ei kiinni headerissa */
}

.hidden { display: none; } /* Self-explanatory. Tarkoitettu asioiden piilottamiseen käyttäjältä. */
.material-icons { vertical-align: middle !important; } /* Ikonit eivät näytä hirveän keskittyneiltä. Tämä korjaa asiaa hieman. */
.center {  /* Sisällön keskittämiseen joka suunnassa */
	text-align: center;
	justify-content: center;
	margin: auto;
}
.end { text-align: end; } /* Self-explanatory */

/***********************************************
	Yleisesti sisällön asetteluun koko sivulla
************************************************/
.inline-block{ display: inline-block; }

/* For displaying with flex. Ei toimi vanhemmissa IE:ssa */
.flex { display: flex; }
.flex_row { display: flex; flex-direction: row; }
.flex_column { display: flex; flex-direction: column; }

/* For making fake tables. <table>-tagia ei pitäisi käyttää sisällön asetteluun. */
.table { display: table; }
.tr { display: table-row; }
.td, .td_pad { display: table-cell; }
.td_pad { padding: 10px; }


/********************************************
	Header
*********************************************/
/* Headerin yläosa, navigointipalkin yläpuolella (navbarin säännöt on omassa osiossa) */
.header_top {
	width: auto;
	height: 6.5em;
	background-color: #fff; /* Jannen pyynnöstä asetettu täysin valkoinen tausta. Koska logon tausta on valkoinen */
	display: flex; /* Ei toimi ilman. Asettaa elementit siististi. */
	align-items: center; /* IE */
}

.header_top #head_logo { /* Osaxin logon container */
	margin: auto;  /* Keskittää sisällön */
	width: 22em;   /* Erottaa logon muusta headerin sisällöstä. (22em suurempi kuin logon leveys) */
}

.header_top #head_logo img {
	margin-left: 0.6em; /* Erottaa logon sivun reunasta hieman. Hienomman näköinen. */
}

.header_top #head_info { /* "Tervetuloa, [käyttäjä]"-container */
	width: 22em;
	font-size: 18px; /* Deafultia isompi. Näyttää paremmalta isona */
	color: #2f5cad;
	margin: auto;    /* Keskittää sisällön */
	white-space: nowrap; /* Sisältää nimiä. Näyttää rumalta muuten. */
}

.header_top #head_cart { /* Ostoskori-linkki */
	flex-grow: 1;    /* Täyttää lopun tilan headerissa. Sisältö ei liiku automaattisen keskityksen takia. */
	font-size: 18px; /* Defaultia isompi fontti */
	color: #2f5cad;
	margin: auto auto auto 0.5em; /* Keskittää. Hieman erillään head_infosta (saattaa olla hieman turha). */
}

.header_top a {     /* Käsittää vain ostoskori-linkin */
	color: #2f5cad; /* Ostoskori-linkin väri ei muutu randomisti. Näyttää siistimmältä, eikä kiinnitä huomiota. */
}

.header_top a:hover {
	color: #000; /* Darker text color for contrast */
	background-color: rgba(135, 205, 255, 0.4); /* Slightly darker bg-color from white for contrast */
	/*color: #ffffff;*/
	/*background-color: #2f5cad;*/
}


/********************************************
	Navigointipalkki 
*********************************************/
.navigationbar {
	background: #2f5cad;
	width: auto;
	height: auto;
}

.navigationbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigationbar ul:after {
	content: "";
	display: block;
	clear: both;
}

.navigationbar ul > li {
	float: left;
	position: relative;
}

.navigationbar a {
	line-height: 26px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 14px 16px;
}

.navigationbar a:HOVER {
	background-color: #02285c;
	border-radius: 10px;
}

.navigationbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f5cad;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0 0;
    z-index: 1;
}

.navigationbar .dropdown-content li {
	width: 100%;
}

.navigationbar .dropdown-content a {
	padding: 5px 10px;
}

.navigationbar .last {
    float: right; /* Kirjaudu ulos -nappi. Asettaa viimeiseksi, oikeaan laitaan kiinni. */
}
.navigationbar .last a:hover {
	background-color: rgb(92, 0, 28);
	background-color: rgba(145, 0, 13, 0.8);
}

.navigationbar .active{
	text-decoration: none !important;
	background-color: rgb(0, 0, 0) !important; /* The Fallback, jos selain ei tue RGBa-arvoja */
	background-color: rgba(0, 0, 0, 0.60) !important;  /* Hieman sinistä läpi, ei pistä silmään */
	border-radius: 5px !important;
}


/********************************************
	Otsikon tyylittely
********************************************/
.otsikko {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	width: 45%;
	left: 5%;
}


/********************************************
	Painikkeiden ulkoasu
********************************************/
.nappi {
	padding: 8px 15px;
	color: white;
	background: #4479BA;
	border: 1px solid #20538D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-weight: 700;
	font-size: 17px;
	/*text-transform: uppercase;*/
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	margin-top: 4px;
	cursor: pointer;
}
.nappi:hover { background: #356094; border: solid 1px #2A4E77; }

/** Takaisin-nappia varten - Väri harmaa */
.nappi.grey { color:black; background-color:#BDBDBD; border-color:#212121; }
.nappi.grey:hover { color:black; background-color: #9E9E9E; border-color:#212121; }

/** Peruuta/Poista-napit - Väri punainen */
.nappi.red { background: #D32F2F; border-color: #B71C1C; }
.nappi.red:hover { background: #b60000; border-color: #B71C1C; }


/********************************************
	Kaikkien lomakkeitten (form) tyylittely
*********************************************/
.lomake { /* keskitetään form */
	text-align: center;
}

.lomake fieldset {
	display: inline-block;
	text-align: left;
	width: 450px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0 0 10px 0;
	border: 1px solid;
	padding: 20px;
}

.lomake fieldset legend {
	text-align: left;
	font-size: 20px;
}

.lomake fieldset > label {
	float: left;
	width: 220px;
	font-weight: bold;
	white-space: nowrap;
}

.required:after { /* Lisää punaisen asteriskin vaadittujen kenttien kohdalle */
	content:" *";
	color: red;
}


/*************************************************
	//TODO: selitä mikä tämä on --JJ
	//=sekalaisia.... Pitäisi järjestää loogisesti.
	//Teen myöhemmin.
**************************************************/
.haku input[type=text], #hakutyyppi, #numerotyyppi{
	padding: 5pt;
	font-size: 100%;
	border: 1px solid #1d7ae2;
}

.tulokset {
	margin-left: 5%;
	white-space: nowrap;
}

table {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: separate;
}

tr:nth-child(odd) {
	background: #eee;
}

tr:nth-child(even) {
	background: #fff;
}

tr .rivi {
	max-height: 1em;
}

th, td {
	padding: 6pt 10pt;
	margin: 0;
	text-align: left;
}

td.toiminnot {
	padding-left: 0.5em;
}

td .nappi {
	padding: 4pt 5pt;
	font-size: 75%;
}

th {
	font-size: 130%;
	font-weight: normal;
	text-shadow: 0 1px 0 #368;
	background-color: #2f5cad;
	color: #fff;
	margin: 0;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.smaller_cell {
	text-align: center;
	width: 10%;
}

.success, .error {
	position: relative;
	padding: 10pt;
	width: auto;
}

.success {
	background-color: #DFF2BF;
}

.error {
	background-color: #FFBABA;
}

.disabled {
	opacity: 0.2;
	pointer-events: none; /* TODO: Onko jotain syytä miksi tämä ei ollut tässä jo? --JJ */
	cursor: default !important;
}

#modal-container label {
	display: inline-block;
	width: 9em;
	margin-bottom: 10pt;
}

#modal-container input {
	text-align: left;
}

.dialogi-otsikko {
	font-size: 120%;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10pt;
	padding-bottom: 6pt;
}

.dialogi-kentta {
	margin-left: 1em;
}

.kpl, .eur {
	width: 4em;
}

.maara {
	width: 3em;
	padding: 1pt;
}

.thumb {
	width: 64px;
	height: 64px;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: center;
}

.thumb img {
	max-width: 64px;
	max-height: 64px;
}

.tuotehaku_header {
	display: flex;
	flex-grow: 1;
	height: 35px;
}

.ostoskorilinkki {
	flex-grow: 1;
	font-size: 150%;
}

.tuotekoodihaku, .ajoneuvomallihaku {
	display: inline-block;
	white-space: nowrap;
	padding: 0 30px 10px;
	vertical-align: top;
}

.ajoneuvomallihaku select {
	width: 500px;
	padding: 1pt;
	border: 1px solid #1d7ae2;
	font-size: 90%;
}

.tilaus_info td{
	background-color:#ffffff;
	padding-left: 0;
	padding-right: 30px;
}

/** Otsikon vasemmalla puolella olevat napit */
#painikkeet {
	vertical-align: middle;
	width: 49%;
	text-align: right;
	display: inline-block;
}

#painikkeet a {
	text-align: right;
	/*text-decoration: none;*/
}


/**************************************************
	Tuotehaku-sivun infonapin tyylittely
**************************************************/
span.info-box {
	display: inline-block;
	line-height: 16px;
	color: White;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	position: relative;
}
span.question {
  	cursor: pointer;
  	display: inline-block;
  	width: 16px;
  	height: 16px;
  	background-color: #89A4CC;
  	line-height: 16px;
  	color: White;
  	font-size: 13px;
  	font-weight: bold;
  	border-radius: 8px;
  	text-align: center;
  	position: relative;
  	vertical-align: top;
}
span.question:hover { background-color: #3D6199; }
div.tooltip {
  	background-color: #3D6199;
  	color: White;
  	position: absolute;
  	z-index: 10;
  	border-radius: 5px;
}
div.tooltip:before {
	border: 6px solid transparent;
	border-right-color: #3D6199;
	border-left-width: 0;
	content: "";
  	display: block;
  	height: 0;
  	width: 0;
  	line-height: 0;
  	position: absolute;
  	top: 40%;
  	left: -6px;
}
div.tooltip p {
  	margin: 10px;
  	color: White;
	white-space: nowrap;
}

/****************************************
Tuotteen MODAL-ikkuna
****************************************/

#display_img {
	max-width: 200px;
	max-height: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

.kuva:hover{
	cursor: pointer;
	opacity: 0.7;
}

.tuote_img {
	max-width: 350px;
	max-height: 300px;
	margin-bottom: 5px;
}

.no-image {
	margin-right: 20px;
}

#asennusohje {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}

/* Vertailunumerot välilehti */
.vertailunumero_table {
	margin-left:auto;
	margin-right:auto;
}

.vertailunumero_table td {
	font-size: 14px;
}

.vertailunumero_table a { color: black }

.vertailunumero_table a:hover { text-decoration: underline }

/*****************
Loading-icon
******************/
.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	z-index: 1040;
	background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #b7b5b5;
}


/******************************
Pieni spinning-icon
******************************/
.loader {
	font-size: 5px;
	margin: 0;
	width: 4em;
	height: 4em;
	/*border-radius: 50%;*/
	background: #000000;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.loader:before {
	width: 50%;
	height: 50%;
	background: #000000;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}

.loader:after {
	background: #FFFFFF;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/**************************
Toimittajien listaukseen
**************************/
.floating-box {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	width: 400px;
	height: 120px;
	margin: 1px;
	border: 1px solid #294fad;
	padding: 10px;
}

.line {
	height: 100px;
	line-height: 100px;
}

.container {
	position: relative;
	left: 5%;
}


/*******************************
Sivustus (pagination) (requires bootstrap)
*******************************/
.page_nav {
	display: flex;
	flex-direction: row;
}

.page_control {
	display: flex;
	flex-direction: column;
	margin: auto 40px auto;
}

.pageNumberForm, .pageNumber, .productsPerPageForm {
	display: inline-flex;
	padding: 0;
	margin: 0;
	border: 0;
	width: 2.7rem;
}
