@CHARSET "UTF-8";

/********************************************
	General application.
*********************************************/
html{ position:relative; min-height: 100%; width:100%; } /*Varmuuden varalle...*/
html,body{ background-color: Floralwhite; }
body{ font-family: Helvetica, 'Open Sans', sans-serif; margin: 3px; }
input { padding: 3pt; }

/********************************************
	Yleisesti pikku asioita koko sivulla
*********************************************/
.number { /* Tarkoitettu numeroiden tulostamiseen */
	text-align: right;	
	white-space: nowrap; 
}

.small_note { /* Pienten huomautusten tulostamiseen. Enimmäkseen ALV-huomautus. */
	font-size: 90%;
	font-style: oblique;
}

.main_body_container {  /* Self-explanatory */
	margin: 20px 5vw 3vw;
	white-space: nowrap;
	position:relative;
}

.hidden { display: none; } /* Self-explanatory */
.material-icons { vertical-align: middle; } /* Ikonit eivät näytä hirveän keskittyneiltä. Tämä korjaa asiaa hieman. */
.center { text-align: center; justify-content: center; margin: auto; } /* Sisällön keskittämiseen joka suunnassa */
.end { text-align: end; } /* Self-explanatory */


/***********************************************
	Yleisesti sisällön asetteluun koko sivulla
************************************************/
.inline-block{ display: inline-block; }

/* For displaying with flex. Ei toimi vanhemmissa IE:ssa */
.flex { display: flex; }
.flex_row { display: flex; flex-direction: row; }
.flex_column { display: flex; flex-direction: column; }

/* For making fake tables. <table>-tagia ei pitäisi käyttää sisällön asetteluun. */
.table { display: table; }
.tr { display: table-row; }
.td, .td_pad { display: table-cell; }
.td_pad { padding: 10px; }


/********************************************
	Header
*********************************************/
.header_top {
	width: 100%;
	height: 6.5em;
	background-color: #fff;
	display: flex;
}

.header_top a { text-decoration: none; }

.header_top a:visited { color: #2f5cad; }

.header_top a:hover { text-decoration: underline; }
   
.header_top #head_logo {
	margin: auto;			/* Keskittää sisällön */
	width: 22em;
}

.header_top #head_logo img {
	margin-left: 0.6em;
}

.header_top #head_info {
	width: 22em;
	font-size: 18px;
	color: #2f5cad;
	margin: auto;			/* Keskittää sisällön */
	white-space: nowrap;
}

.header_top #head_cart {
	flex-grow: 1;
	font-size: 18px;
	color: #2f5cad;
	margin: auto auto auto 0.5em; /* Keskittää sisällön */
}


/********************************************
	Navigointipalkki 
*********************************************/
#navigationbar {
	background: #2f5cad;
	width: auto;
	height: auto;
}

#navigationbar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 1;
	display: block;
	zoom: 1;
	text-align: left;
}

#navigationbar ul:after {
	content: " ";
	display: block;
	clear: both;
}

#navigationbar ul li {
	display: inline-block;
	margin: 0;
}

#navigationbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    display: block;
    padding: 15px 20px;

}

#navigationbar ul li :HOVER {
	color: black;
}

#navigationbar .dropdown {
    position: relative;
    display: inline-block;
}

#navigationbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f5cad;
    min-width: 130px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 0 0;
    z-index: 1;
}

#navigationbar .last {
    float: right;
}

#navigationbar .active{
    color: black;
    text-decoration: underline;
}

/********************************************
	Otsikon tyylittely
********************************************/
.otsikko {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	width: 45%;
	left: 5%;
}


/********************************************
	Painikkeiden ulkoasu
********************************************/
.nappi {
	padding: 8px 15px;
	color: white;
	background: #4479BA;
	border: 1px solid #20538D;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	font-weight: 700;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	margin-top: 4px;
	cursor: pointer;
}
.nappi:hover { background: #356094; border: solid 1px #2A4E77; }

/** Takaisin-nappia varten - Väri harmaa */
.nappi.grey { color:black; background-color:#BDBDBD; border-color:#212121; }
.nappi.grey:hover { color:black; background-color: #9E9E9E; border-color:#212121; }

/** Peruuta/Poista-napit - Väri punainen */
.nappi.red { background: #D32F2F; border-color: #B71C1C; }
.nappi.red:hover { background: #b60000; border-color: #B71C1C; }


/********************************************
	Ylläpitäjän tilaukset sivu
*********************************************/
#tilaukset .tilausnumero, #tilaukset .sum,
#tilaukset .pvm {
	display: inline-block;
	width: 14%;
}

#tilaukset .tilaaja {
	display: inline-block;
	width: 19%;
}

#tilaukset .yritys {
	display: inline-block;
	width: 29%;
}

#tilaukset #lista input[type=checkbox] {
	position: relative;
	left: 27px;
}

.tilaus_info td{
	background-color:#ffffff;
	padding-left: 0;
	padding-right: 30px;
}


/********************************************
	Kaikkien lomakkeitten (form) tyylittely
*********************************************/
.lomake { /* keskitetään form */
	display: block;
	text-align: center;
}

.lomake form {
	display: inline-block;
	text-align: left;
}

.lomake form label {
	float: left;
	width: 220px;
	font-weight: bold;
	white-space: nowrap;
}

.lomake fieldset {
	width: 450px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0 0 10px 0;
	border: 1px solid;
	padding: 20px;
}

.lomake fieldset legend {
	text-align: left;
	font-size: 20px;
}

.required:after { /* Lisää punaisen asteriskin vaadittujen kenttien kohdalle */
	content:" *";
	color: red;
}


/*************************************************
	Listojen tyylittely (joissa käytetään checkbox)
**************************************************/
#lista {
	text-align: center;
	display: block;
}

#lista form {
	text-align: left;
	display: inline-block;
	width: 90%;
}


#lista fieldset{
	border: 1px solid black;
	margin-top: -1px;
}

#lista .lista_info{
	padding-bottom: 0;
	border: 0;
	font-weight: bold;
}

#lista a {
	text-decoration: none;
	color: black;
}

#lista #submit {
	text-align: right;
}

#lista #submit input[type=submit]:HOVER {
	cursor: pointer;
}


/*************************************************

	//TODO: selitä mikä tämä on --JJ
	//=sekalaisia.... Pitäisi järjestää loogisesti.
	//Teen myöhemmin.

**************************************************/
.haku input[type=text], #hakutyyppi, #numerotyyppi{
	padding: 5pt;
	font-size: 100%;
	border: 1px solid #1d7ae2;
}

.tulokset {
	margin-left: 5%;
	white-space: nowrap;
}

table {
	margin: 0;
	padding: 0;
	border-spacing: 0;
	border-collapse: separate;
}

tr:nth-child(odd) {
	background: #eee;
}

tr:nth-child(even) {
	background: #ffffff;
}

tr .rivi {
	max-height: 1em;
}

th, td {
	padding: 6pt 10pt;
	margin: 0;
	text-align: left;
}

td.toiminnot {
	padding-left: 0.5em;
}

td .nappi {
	padding: 4pt 5pt;
	font-size: 75%;
}

th {
	font-size: 130%;
	font-weight: normal;
	text-shadow: 0 1px 0 #368;
	background-color: #2f5cad;
	color: #fff;
	margin: 0;
	padding-top: 5pt;
	padding-bottom: 5pt;
}

.smaller_cell {
	text-align: center;
	width: 10%;
}

.success, .error {
	position: relative;
	padding: 10pt;
	width: auto;
}

.success {
	background-color: #DFF2BF;
}

.error {
	background-color: #FFBABA;
}

.disabled {
	opacity: 0.2;
	pointer-events: none; /* TODO: Onko jotain syytä miksi tämä ei ollut tässä jo? --JJ */
	cursor: default !important;
}

#modal-container label {
	display: inline-block;
	width: 9em;
	margin-bottom: 10pt;
}

#modal-container input {
	text-align: left;
}

.dialogi-otsikko {
	font-size: 120%;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10pt;
	padding-bottom: 6pt;
}

.dialogi-kentta {
	margin-left: 1em;
}

.kpl, .eur {
	width: 4em;
}

.maara {
	width: 3em;
	padding: 1pt;
}

.thumb {
	width: 64px;
	height: 64px;
	padding-top: 2pt;
	padding-bottom: 2pt;
	text-align: center;
}

.thumb img {
	max-width: 64px;
	max-height: 64px;
}

.tuotehaku_header {
	display: flex;
	flex-grow: 1;
	height: 35px;
}

.ostoskorilinkki {
	flex-grow: 1;
	font-size: 150%;
}

.tuotekoodihaku, .ajoneuvomallihaku {
	padding: 0 30px 30px;
}

.ajoneuvomallihaku select {
	width: 500px;
	padding: 1pt;
	border: 1px solid #1d7ae2;
	font-size: 90%;
}

/** Otsikon vasemmalla puolella olevat napit */
#painikkeet {
	vertical-align: middle;
	width: 49%;
	text-align: right;
	display: inline-block;
}

#painikkeet a {
	text-align: right;
	text-decoration: none;
}


/**************************************************
	Tuotehaku-sivun infonapin tyylittely
**************************************************/
span.info-box {
	display: inline-block;
	line-height: 16px;
	color: White;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	position: relative;
}
span.question {
  	cursor: pointer;
  	display: inline-block;
  	width: 16px;
  	height: 16px;
  	background-color: #89A4CC;
  	line-height: 16px;
  	color: White;
  	font-size: 13px;
  	font-weight: bold;
  	border-radius: 8px;
  	text-align: center;
  	position: relative;
  	vertical-align: top;
}
span.question:hover { background-color: #3D6199; }
div.tooltip {
  	background-color: #3D6199;
  	color: White;
  	position: absolute;
  	z-index: 10;
  	border-radius: 5px;
}
div.tooltip:before {
	border: 6px solid transparent;
	border-right-color: #3D6199;
	border-left-width: 0;
	content: "";
  	display: block;
  	height: 0;
  	width: 0;
  	line-height: 0;
  	position: absolute;
  	top: 40%;
  	left: -6px;
}
div.tooltip p {
  	margin: 10px;
  	color: White;
	white-space: nowrap;
}


/*********************
Muokkaa asiakasta form
**********************/
#paivat{
	position: relative;
	width: 50px;
	margin-bottom: -5px;
}

#inner_label{
	padding-left: 20px;
	font-weight: bold;
}


/****************************************
Tuotteen MODAL-ikkuna (tuotteen tiedot)
****************************************/

#display_img {
	max-width: 200px;
	max-height: 300px;
	margin-left: 20px;
	margin-right: 20px;
}

.kuva{
	cursor: pointer;
}

.tuote_img {
	max-width: 350px;
	max-height: 300px;
	margin-bottom: 5px;
}

.no-image {
	margin-right: 20px;
}

#asennusohje {
	text-decoration: none;
	font-family: sans-serif;
	color: black;
}


/*****************
Loading-icon
******************/
.loading {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0.4;
	z-index: 1040;
	/*background-color: #000000;*/ /*TODO: Turha, valittaa IDE. Poista, jos ei hajoita mitään. --JJ */
	background: url("http://www.aveva.com/Images/ajax-loader.gif") no-repeat scroll center center #b7b5b5;
}


/******************************
Pieni spinning-icon
******************************/
.loader {
	font-size: 5px;
	margin: 0;
	width: 4em;
	height: 4em;
	/*border-radius: 50%;*/
	background: #000000;
	background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
	position: relative;
	-webkit-animation: load3 1.4s infinite linear;
	animation: load3 1.4s infinite linear;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
.loader:before {
	width: 50%;
	height: 50%;
	background: #000000;
	border-radius: 100% 0 0 0;
	position: absolute;
	top: 0;
	left: 0;
	content: '';
}
.loader:after {
	background: #FFFFFF;
	width: 75%;
	height: 75%;
	border-radius: 50%;
	content: '';
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
@-webkit-keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


/**************************
Toimittajien listaukseen
**************************/

.floating-box {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	width: 400px;
	height: 120px;
	margin: 1px;
	border: 1px solid #294fad;
	padding: 10px;
}

.line {
	height: 100px;
	line-height: 100px;
}

.container {
	position: relative;
	left: 5%;
}

/*******************************
Sivustus (pagination) (requires bootstrap)
*******************************/
.page_nav {
	display: flex;
	flex-direction: row;
}
.page_control {
	display: flex;
	flex-direction: column;
	margin: auto 40px auto;
}
.pageNumberForm, .pageNumber, .productsPerPageForm {
	display: inline-flex;
	padding: 0;
	margin: 0;
	border: 0;
	width: 2.7rem;
}


